/* Main body + body with demon man */

body {
  margin: 0;
  background-image: url('images/background.gif');
  background-color: black;
  size: 1vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bodyimpactin {
  margin: 0;
  background-image: url('images/impactin.gif');
  size: 2vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bodycoprime {
  margin: 0;
  background-image: url('images/background2.gif');
  size: 2vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/* Flex box nonsense */
.main_container {
  display: flex;

}
.box{
  width: 80px;
  margin: 10px;
  /*border: 3px solid rgb(125, 9, 9);
  background-color: rgb(0, 0, 0);*/
}
.container1{
  min-height:80px
}
.button1{
  width: 80px;
  height: 80px;
  border-radius: 20px;
}
.container2{
  min-height:80px
}
.button2{
  width: 80px;
  height: 80px;
  border-radius: 20px;
}
.container3{
  min-height:80px
}
.button3{
  width: 80px;
  height: 80px;
  border-radius: 20px;
}
.container4{
  min-height:80px
}
.container5{
  min-height:80px
}

/* text and shit */

section{
  display: absolute;
  place-items: center;
  align-content: center;
  min-height: 90vh;

  font-weight: normal;
  font-size: 30px;
  font-style: normal;
  font-family:'Courier New', Courier, monospace;
  color: aliceblue;
}


.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('images/icons/loading.gif');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
