/* Main body + body with demon man */

body {
    margin: 0;
    background-image: url('images/animations.gif');
    background-color: black;
    size: 1vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

    
  /* Flex box nonsense */
  .main_container {
    display: flex;
  
  }
  .box{
    width: 80px;
    margin: 10px;
    /*border: 3px solid rgb(125, 9, 9);
    background-color: rgb(0, 0, 0);*/
  }
  .container1{
    min-height:80px
  }
  .button1{
    display: center;
    width: 80px;
    height: 80px;
    border-radius: 20px;
  }
  .container2{
    left: 50%;
    margin:auto;
    min-width: 30vh;
    min-height:80px
  }
  .button2{
    align-items: center;
    width: 200px;
    height: 80px;
    border-radius: 20px;
  }






  
  /* text and shit */
  
  section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
  
    font-weight: normal;
    font-size: 30px;
    font-style: normal;
    font-family:'Courier New', Courier, monospace;
    color: aliceblue;
  }
  iframe {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 60vh;
    min-width: 100vw;
    border-color: black;
  }
  
  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('images/icons/loading.gif');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
